
//base colors
$black: #222;
$white: #FFF;
$blue: #2f7bbd;

//text colors
$text-color: $white;

//basic colors
$border-color: #4d4d4d;

//index colors
$index-bg: rgba(0,0,0,.75);

//fonts
$base-font: 'Raleway', sans-serif;
$base-fontsize: 14px;
$fontweight-light: 200;
$fontweight-normal: 300;
$fontweight-bold: 600;
$blog-fontsize: 17px;
$blog-lineheight: 2.25;

//page sizes
$max-width: 1600px;
$blog-width: 750px;

//breakpoints
$mobile-width: 520px;
$tablet-width: 768px;
$desktop-width: 1024px;